/* Font */
/*.w3-themeFont {
    font-family: "Lato", Helvetica, Arial, sans-serif; font-weight: normal; color: white;
}*/

/*#name h1			{ font-family: "Lato", Helvetica, Arial, sans-serif; font-weight: normal; color: white; font-size: 360%; margin: 0% 0% 0% 0%; }*/
/*#name p 			{ font-family: "Lato", Helvetica, Arial, sans-serif; color: white; font-size: 220%; margin: 0% 0% 0% 0%; }*/

/* Reset */

html, body {
	margin: 0; 
	padding: 0; 
	border: 0; 
	background: transparent; 
	font-size: 10px;
	height: 100%;
}

div, span, article, aside, footer, header, hgroup, nav, sectoin,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li,
table, tr, th, td, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

img		{ margin: 0; padding: 0; border: 0; }

table 	{ border-collapse: collapse; border-spacing: 0; }

input, select, textarea, form, fieldset { margin: 0; padding: 0; border: 0; }

.header {
    background:#00ff0f;
    padding:30px;
}
.content{
    padding:10px;
    padding-bottom:25px;   /* Height+padding(top and botton) of the footer */
    text-align:justify; 
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:15px;   /* Height of the footer */
    background:#00ff0f;
    padding:10px 0; /*paddingtop+bottom 20*/
}
.content {
    height:100%; // IE HACK
}

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%;
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;
}

ol, ul 	{ list-style: none; }
	
/* Global */
html	{   }
body	{ background-color:#eeeeee;  }

/* Headings */

/*h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #000; }

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }*/

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* Text Elements */
p 					{ color: #000; font-size: 14px; line-height: 150%; }
p .left				{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p .right			{ margin: 1.5em 0 1.5em 0; padding: 0; }
/*
a					{ color: #800000;  }
a:link				{ color: #00f; }
a:visited			{ color: #0f0; }
a:active			{ color: #000; }
a:focus				{ color: #666; }
a:hover				{ color: #f00; }
*/
blackquote			{ color: #000; font-size: 135%; }

strong 				{ font-weight: bold; }
em 					{ font-style: italic; }

/* Lits */
ul 					{   }
ol					{ list-style-type: decimal; }
ul li 				{ color:#000; font-size: 12px; }
ol li 				{ color:#000; font-size: 12px; }
dl					{   }
dt					{   }
dd					{   }

/* Tables */
table				{width: 100%; }
tr 					{   }
.odd				{ background-color:#eee; }
.even				{ background-color:#fff; }
th					{ font-weight: bold; }
thead, th			{ background: #ccc; }
tbody				{   }
th, td, caption 	{   }
caption				{   }
tfoot				{   }
.tfooter			{ background-color: #ccc; text-align: center; font-style:italic; }
caption 			{background: #efefef; }


/* Containers */
#page { min-height:100%; position:relative; }
/*#top         		{ background-color: #363636; width: 100%; padding: 40px 0px 30px 0px; overflow:hidden; }*/
/*#name				{ margin: 0% 0% 0% 5%; float:left; }*/
/*#name h1			{ font-family: "Lato", Helvetica, Arial, sans-serif; font-weight: normal; color: white; font-size: 360%; margin: 0% 0% 0% 0%; }*/
/*#name p 			{ font-family: "Lato", Helvetica, Arial, sans-serif; color: white; font-size: 220%; margin: 0% 0% 0% 0%; }*/
/*#logo 			{ float:right; margin: 0% 5% 0% 0%;    }*/

#banner       		{    }
#subbanner   		{    }
#content-wrapper 	{    }

#leftnav       		{ width:15%; background-color:#dddddd; clear: both; text-decoration: none; float:left; } 
#leftnav ul 		{ text-align:left; margin: 0px; background-color: #dddddd; }
#leftnav li			{ font-size: 1.1vw; }
#leftnav p			{ font-size: 140%; }
#leftnav ul li a	{ width: 90%; float:left; padding: 10% 0% 10% 10%; border-bottom: 1px #888888 solid; }
#leftnav a:link		{ color:#000000; }
#leftnav a:visited	{ color:#000000; }
#leftnav a:active	{ color:#000000; }
#leftnav a:hover	{ color:#363636; background-color: #f7f7f7; }
#leftnav a:focus	{ color:#000000; }

/*
#rightnav			{ width:85%; background-color:white; float:right; padding-bottom:15%;}
#middleside			{ padding: 2% 3% 5% 5%; width:60%; float:left;}
#middleside h1		{ font-family: "Lato", Helvetica, Arial, sans-serif; color: #800000; margin-bottom: 2%; padding: 2% 0% 2% 0%; border-bottom: 1px #888888 solid;}
#middleside h2		{ font-family: "Lato", Helvetica, Arial, sans-serif; color: #800000; margin-bottom: 2%; padding: 2% 0% 2% 0%; border-bottom: 1px #888888 solid;}
#middleside h3		{ font-family: "Lato", Helvetica, Arial, sans-serif; color: #800000; margin-bottom: 2%; padding: 2.5% 0; }			
#middleside p		{ font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 135%; }
#middleside a:link	  { color:#326ea1 }
#middleside a:visited { color:#326ea1 }
#middleside a:active  { color:#326ea1 }
#middleside a:hover   { color: #B2B2B2;}
#rightside			{ width:30%; float:right; margin: 7% 0% 0% 0%; }
#candidate_photo	{ width:70%; height:100%; padding: 0; border: 1px #000000 solid; }
#rightside h1		{ font-weight:bold; margin: 2% 0% 1% 0%; font-size: 140%;}
#rightside p		{ margin: 0% 0% 0.5% 0%; font-size: 130%; }
#rightside a		{ color: #800000; }
#rightside p img	{ width: 7%; height: 7%; }
#rightside a:hover	{ color: #CF9999; }
*/

#footer				{ background-color: #363636; border-top: 3px #404040 solid; border-bottom: 3px #444444 solid; padding: 2% 0; line-height: 200%; clear:both;}
#footer p			{ color: #ffffff; text-align: center; margin: 5px;}
#footer a:link		{ color: #ffffff; }
#footer a:visited	{ color: #ffffff; }
#footer a:active	{ color: #ffffff; }
#footer a:hover		{ color: #ffffff; text-decoration: underline; }
#footer a:focus		{ color: #ffffff; }
#footer h2 			{ text-align:center; padding: 1% 0% 1% 0%;}
#logo_hover_foot	{ width:20%; height:15%; }

#research ul li a 	{ font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 140%; }
#research a:link	{ color:#326ea1 }
#research a:visited	{ color:#326ea1 }
#research a:active	{ color:#326ea1 }
#research a:hover	{ color:#000000; border-bottom: 1px #999999 solid; }
#research a:focusd	{ color:#326ea1 }
#research p 		{ margin: 2% 0; text-align: justify;}

#teaching_table table tr td  { font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 95%; line-height: 150%;}
#teaching_table a:link	{ font-weight: bold; }

/* For Social Media Icons */
.social-icon img {
  display: block;
  width: 55%!important;
  height: 55%!important;
  margin-left: auto;
  margin-right: auto;
}

a.social-icon {
  padding: 5% 2.5% 5% 2.5%!important;
  width: 28.3%!important;
}