<div id="footerDiv" class="w3-container w3-padding-large w3-camo-black w3-center">
	<p style="font-size: calc(8px + 1.0vw)">
		<!-- 
        <a href="index.html" title="Home">Home</a> | 
        <a href="cv.html" title="CV">CV</a> |
		<a href="research.html" title="Research">Research</a> | 
		<a href="teaching.html" title="Teaching">Teaching</a> |
		<a href="references.html" title="References">References</a> | 
		<a href="resources.html" title="Resources">Resources</a>
		-->
	</p>
	<p class="w3-small">&copy; 2017 Firstname Lastname. All rights reserved.</p>
	<p><font size='1'> based on a <a href = 'https://bitbucket.org/bencharoenwong/website-template' target = "_blank" style="text-decoration: underline"> template</a> provided by <a href = 'https://sites.google.com/view/bencharoenwong' target = "_blank" style = "text-decoration:underline">Ben Charoenwong</a> and Eliot Abrams.</font> </p>
	<p><br>
	<a href="http://www.uchicago.edu/">
		<img src="images/uchicago_logo.png" alt="University of Chicago" id="logo_hover_foot" style="width:240px;" /> 
    </a
    ></p>
</div>